@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__image {
  margin-top: -25%;
  margin-bottom: -10%;
  width: 100%;
  max-width: 2000px;
  mask-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 1) 70%,
    rgb(0, 0, 0, 0) 90%
  );
}

.home__row {
  margin-top: 50px;
  display: flex;
  z-index: 1;
}
